<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Ad planning system</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <!-- @@placeholder =meta -->

    <!--CSS-->
    <!-- @@include=_css.html -->

    <!-- build:css /css/pages/<!-- @@var page -->.css-->
    <!-- @@placeholder =css -->
    <!-- endbuild -->
  </head>
  <body class="app-dsp">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Wrapper-->
    <div id="wrapper">

      <!-- Navigation -->
      <div>
        <!-- @@include=navigation.html -->
      </div>

      <!-- Page wraper -->
      <!-- ng-class with current state name give you the ability to extended customization your view -->
      <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <!-- @@include=topnavbar.html -->

        <!-- Main view  -->
        <!-- @@placeholder =content -->

        <!-- Footer -->
        <!-- @@include=footer.html -->

      </div>
      <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <!--JS-->
    <!-- @@include=_js.html -->

    <!-- build:js /js/compiled/pages/<!-- @@var page -->.js-->
    <!-- @@placeholder =js -->
    <!-- endbuild -->

    <!-- @@include=_angular-component-template.tpl {"path": "/components/_c-breadcrumb.html"} -->
    <!-- @@include=_angular-component-template.tpl {"path": "/components/_c-filter-input.html"} -->
    <!-- @@include=_angular-component-template.tpl {"path": "/components/_c-filter-input-simple.html"} -->
    <!-- @@include=_angular-component-template.tpl {"path": "/components/_c-modal-yes-no.html"} -->
    <!-- @@include=_angular-component-template.tpl {"path": "/components/_c-nav-profile.html"} -->
    <!-- @@include=_angular-component-template.tpl {"path": "/components/_c-st-pagination.html"} -->
    <!-- @@include=_angular-component-template.tpl {"path": "/components/_c-th-filter.html"} -->
    <!-- @@include=_angular-component-template.tpl {"path": "/components/_notify.html"} -->


  </body>
</html>
