<!-- build:js /js/compiled/libs.min.js -->
<script src="/js/libs/Blob.js"></script>
<script src="/js/libs/FileSaver.js"></script>
<script src="/js/libs/moment.js"></script>
<script src="/js/libs/switchery.js"></script>
<script src="/js/libs/jquery/jquery-2.1.4.js"></script>
<script src="/js/libs/jquery/icheck.min.js"></script>
<script src="/js/libs/jquery/jquery.sparkline.min.js"></script>
<script src="/js/libs/jquery/selectize.js"></script>
<script src="/js/libs/angular/angular.js"></script>
<script src="/js/libs/angular/angular-animate.js"></script>
<script src="/js/libs/angular/angular-cookies.js"></script>
<script src="/js/libs/angular/angular-datepicker.js"></script>
<script src="/js/libs/angular/angular-inspinia.js"></script>
<script src="/js/libs/angular/angular-inspinia-directives.js"></script>
<script src="/js/libs/angular/angular-messages.js"></script>
<script src="/js/libs/angular/angular-notify.min.js"></script>
<script src="/js/libs/angular/angular-resource.js"></script>
<script src="/js/libs/angular/angular-selectize.js"></script>
<script src="/js/libs/angular/angular-translate.js"></script>
<script src="/js/libs/angular/ng-switchery.js"></script>
<script src="/js/libs/angular/ng-table.js"></script>
<script src="/js/libs/angular/smart-table.js"></script>
<script src="/js/libs/angular/ui-select.js"></script>
<script src="/js/libs/angular/angular-sanitize.js"></script>
<script src="/js/libs/angular/angular-touch.js"></script>
<script src="/js/libs/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<!--<script src="/js/libs/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>-->
<script src="/js/libs/metisMenu.js"></script>
<script src="/js/libs/pace.js"></script>
<script src="/js/libs/route-recognizer.js"></script>
<script src="/js/libs/underscore.js"></script>
<script src="/js/libs/underscore-fix.js"></script>
<script src="/js/libs/utils.array-fix.js"></script>
<script src="/js/libs/utils.moment-fix.js"></script>
<script src="/js/libs/utils.string-fix.js"></script>
<script src="/js/libs/vimeo.utils.js"></script>
<script src="/js/libs/vimeo.mapper.js"></script>
<script src="/js/libs/vimeo.router.js"></script>

<!--<script src="/js/perf/core.js"></script>-->
<!--<script src="/js/perf/scalyr.js"></script>-->
<!-- endbuild -->

<!-- build:js /js/compiled/common.js -->
<script src="/js/common.js"></script>
<script src="/js/common/_c-click-remote.js"></script>
<script src="/js/common/_c-form-remote.js"></script>
<script src="/js/common/_c-input-limit-to.js"></script>
<script src="/js/common/_c-no-ui-slider.js"></script>
<script src="/js/common/_c-on-click-and-drag.js"></script>
<script src="/js/common/_c-on-click-delegate.js"></script>
<script src="/js/common/_c-translate.js"></script>
<script src="/js/common/_c-v-route-class.js"></script>
<script src="/js/common/_htmlSafe.js"></script>
<script src="/js/common/_http.js"></script>
<script src="/js/common/_i18n.js"></script>
<script src="/js/common/_log.js"></script>
<script src="/js/common/_modernizr.js"></script>
<script src="/js/common/_promise.js"></script>
<script src="/js/common/_safeApply.js"></script>
<script src="/js/common/_vimeo.js"></script>
<!-- endbuild -->

<!-- build:js /js/compiled/app.common.js -->
<script src="/js/app.js"></script>
<script src="/js/_5xx.interceptor.js"></script>
<script src="/js/_403.interceptor.js"></script>
<script src="/js/_c-form-remote-error.js"></script>
<script src="/js/_c-form-remote-error-simple.js"></script>
<script src="/js/_c-st-table-controller.js"></script>
<script src="/js/_cFormRemoteErrorsExtractor.js"></script>
<script src="/js/_filterItem.js"></script>
<script src="/js/_i18n.translations.js"></script>
<script src="/js/_modal.js"></script>
<script src="/js/_moment.js"></script>
<script src="/js/_ngTable.js"></script>
<script src="/js/_notify.js"></script>
<script src="/js/_router.js"></script>
<script src="/js/_st.js"></script>
<script src="/js/_users.js"></script>
<script src="/js/directives.js"></script>
<script src="/js/inspinia.js"></script>
<!-- endbuild -->