<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">

            <li class="nav-header">
                <c-nav-profile></c-nav-profile>
            </li>

            <li>
                <a><i class="fa fa-gear"></i> <span class="nav-label" translate>Settings</span><span class="fa arrow"></span></a>

                <ul class="nav nav-second-level collapse">
                    <li c-on-authority="PERM_USER_READ">
                        <a v-href="{route: 'app.settings.users.list'}"><i class="fa fa-user"></i> <span translate>Users</span></a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
